<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621377151416-em9bib0bd58vp3gb6ksnof1euipkbp38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621377151416-em9bib0bd58vp3gb6ksnof1euipkbp38</string>
	<key>API_KEY</key>
	<string>AIzaSyA822Q6EU5Sp-K8HoSR5ZP8kdRMeatP__w</string>
	<key>GCM_SENDER_ID</key>
	<string>621377151416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.chat.ufms</string>
	<key>PROJECT_ID</key>
	<string>chat-ufms-8ae82</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ufms-8ae82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621377151416:ios:4d9594b0d3e763468c2f4d</string>
</dict>
</plist>